<template name="footer">
  <div id="footer">
    <div class="container">
      <div class="footerContent">
        <h3 style="margin:auto">downy's wep page</h3>
      </div>
    </div>
  </div>
</template>