<template name="header">
  <div id="header">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">my_web</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" data-target="#navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">게시판</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <button type="button" class="btn btn-default navbar-btn" name="signUp">Sign up</button>
            <button type="button" class="btn btn-success navbar-btn" name="signIn">Sign in</button>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>