<template name="home">
  <div id="home" style="padding-bottom: 100px">
    <div id="carousel" class="carousel slide" data-ride="carousel" style="height: 400px;width:auto">
      <ol class="carousel-indicators">
        <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src='https://facebook.github.io/react/logo-og.png' style="height:400px;width:100%">
        </div>
      </div>
      <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="container">
      <div class="row row-1-1">
        <div class="col-md-3 align-self-center">
          <div class="remove-line" style="background-color: #000000;"></div>
        </div>
        <div class="col-md-6 ">
          <h1 class="heading text-center">최근 게시물</h1>
        </div>
        <div class="col-md-3 align-self-center">
          <div class="line" style="background-color: #000000;"></div>
        </div>
      </div>
      <div class="row row-1-2">
        <div class="card-deck" style="padding-top:5%;">
          <div class="col-lg-3 col-md-6">
            <div class="card">
              <img class="card-img-top"
                   src="http://1.255.55.20/korea_peace/7cbbb46a-6bae-4e7d-a74b-2cdd420bc541.0002793069_001_20180126155814429.jpg.image.jpeg"
                   alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider c ard with supporting text below as a natural lead-in to
                  additional content.  This content is a little bit..
                  <button type="button" class="btn btn-link">Read more <i class="fa fa-angle-right"></i></button>
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card">
              <img class="card-img-top"
                   src="http://1.255.55.20/korea_peace/7cbbb46a-6bae-4e7d-a74b-2cdd420bc541.0002793069_001_20180126155814429.jpg.image.jpeg"
                   alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider c ard with supporting text below as a natural lead-in to
                  additional content.  This content is a little bit..
                  <button type="button" class="btn btn-link">Read more <i class="fa fa-angle-right"></i></button>
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card">
              <img class="card-img-top"
                   src="http://1.255.55.20/korea_peace/7cbbb46a-6bae-4e7d-a74b-2cdd420bc541.0002793069_001_20180126155814429.jpg.image.jpeg"
                   alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider c ard with supporting text below as a natural lead-in to
                  additional content.  This content is a little bit..
                  <button type="button" class="btn btn-link">Read more <i class="fa fa-angle-right"></i></button>
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card">
              <img class="card-img-top"
                   src="http://1.255.55.20/korea_peace/7cbbb46a-6bae-4e7d-a74b-2cdd420bc541.0002793069_001_20180126155814429.jpg.image.jpeg"
                   alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider c ard with supporting text below as a natural lead-in to
                  additional content.  This content is a little bit..
                  <button type="button" class="btn btn-link">Read more <i class="fa fa-angle-right"></i></button>
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-2-1">
        <div class="col-md-3 align-self-center">
          <div class="remove-line" style="background-color: #000000;"></div>
        </div>
        <div class="col-md-6">
          <h1 class="heading text-center">인기게시물</h1>
        </div>
        <div class="col-md-3 align-self-center">
          <div class="line" style="background-color: #000000;"></div>
        </div>
      </div>
      <div class="row row-2-2" style="padding-top: 5%">
        <div class="col-md-6">
          <div class="image-card rounded">
            <div class="image-card-body rounded">
              <h5 class="image-card-title">Card title</h5>
              <button type="button" class="btn btn-outline-light rounded">Read more <i class="fa fa-angle-right"></i>
              </button>
            </div>
            <img class="image-card-img rounded fluid"
                 src="http://1.255.55.20/korea_peace/ddf7775f-59df-4dd3-914e-b956f4fcf607.1.jpg.image.jpeg"
                 alt="Card image cap">
          </div>
        </div>
        <div class="col-md-6">
          <div class="image-card rounded">
            <div class="image-card-body rounded">
              <h5 class="image-card-title">Card title</h5>
              <button type="button" class="btn btn-outline-light rounded">Read more <i class="fa fa-angle-right"></i></button>
            </div>
            <img class="image-card-img rounded fluid"
                 src="http://1.255.55.20/korea_peace/ddf7775f-59df-4dd3-914e-b956f4fcf607.1.jpg.image.jpeg"
                 alt="Card image cap">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>