#home {
  .row-2-1,
  .row-1-1 {
    padding-top: 5%;
  }

  .card {
    position: relative;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    min-width: 95%;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    margin-bottom: 5%;
  }

  .card:hover,
  .image-card:hover,
  .hover {
    -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    color:#ffffff;
    background-color: #474747;
    p {
      color: #7F8793;
      .btn {
        transform: scale(1.2);
      }
    }
  }

  .image-card {
    text-align: center;
    position: relative;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    min-width: 95%;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.1s ease 0s;
    margin-bottom: 5%;
  }

  .image-card-img {
    position: relative;
    width: 100%;
    height: 243px;
    z-index: -1;
  }

  .image-card-body {
    position: absolute;
    width: 100%;
    padding-top: 25%;
    height: 100%;
    .btn {
      margin-top: 5%;
    }
  }

  .card-img-top {
    width: 100%
  }

  .image-card-body:hover {
    transition-property: background-color, color;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    background-color: rgba(0, 0, 0, 0.50);
    color:black;
  }

  .image-card-title {
    color: #ffffff;
  }
  .line {
    height: 1px;
  }

  .remove-line {
    height:1px;
  }

  .carousel-caption {
    text-align: center;
  }

  .w-100 {
    height: 400px;
  }

  @media screen and (max-width: 765px) {
    .remove-line {
      height: 0;
    }
  }
}